<header>
    <h1>MIS PELICULAS ANIMADAS FAVORITAS</h1>
</header>


<h1></h1>
<mat-card class="example-card">
    <mat-card-header>
        <!-- circulo de lado -->
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>BRAVE</mat-card-title>
      <mat-card-subtitle>Indomable</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/brave.jpg" alt="Photo of Brave-Pelicula">
    <mat-card-content>
      <p>
        Merida, la impetuosa y valiente hija de un rey escocés Fergus y de la reina Elinor, es una hábil arquera que desea surcar su propio camino en la vida. Su desafío a una vieja tradición molesta a los señores y provoca un caos en el reino.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  
  