h1{
    text-align: center;
    text-decoration: underline;
    color: rgb(57, 136, 216);
  }
.contact {
    background-image: url('/assets/contact.png');
    // background-size: cover;
  margin-left: 25%;
  margin-top: 15px;
  height: 35%;
  width: 35%;

}
