h1{
    text-align: center;
    text-decoration: underline;
    color: rgb(251, 139, 18);
  }
.registrate{
    background-image: url('/assets/contact.png');
    // background-size: cover;
  margin-left: 35%;
  margin-top: 15px;
  height: 25%;
  width: 20%;

}
